/.metadata/
**/*.DS_Store
**/*.class
**/*.log
docker/kafka-multiple/kafka1/data/**
docker/kafka-multiple/kafka2/data/**
docker/kafka-multiple/kafka3/data/**
docker/kafka-multiple/zoo1/data/**
docker/kafka-multiple/zoo1/datalog/**
docker/kafka-multiple/zoo2/data/**
docker/kafka-multiple/zoo2/datalog/**
docker/kafka-multiple/zoo3/data/**
docker/kafka-multiple/zoo3/datalog/**
docker/mysql/data/**
docker/redis/*.aof
cqrs-redis-product-api/.gradle/**
