/.metadata/
**/*.DS_Store
**/*.class
**/*.log
docker/kafka-multiple/kafka1/data/**
docker/kafka-multiple/kafka2/data/**
docker/kafka-multiple/kafka3/data/**
docker/kafka-multiple/zoo1/data/**
docker/kafka-multiple/zoo1/datalog/**
docker/kafka-multiple/zoo2/data/**
docker/kafka-multiple/zoo2/datalog/**
docker/kafka-multiple/zoo3/data/**
docker/kafka-multiple/zoo3/datalog/**
docker/mysql/data/**
docker/redis/*.aof
cqrs-redis-product-api/.gradle/**
docker/mysql/data/**
docker/kafka-multiple/**
docker/redis/appendonly.aof
cqrs-redis-product-api/.gradle/**
docker/mysql/data/**
docker/kafka-multiple/**
image-resize-processing/bin/**
image-resize-processing/target/**
https_RESTClientDemo/bin/**
https_RESTClientDemo/target/**
ranking-list-with-redis/bin/**
ranking-list-with-redis/target/**
session-clustering-with-redis/bin/**
session-clustering-with-redis/target/**
session-clustering-with-redis
ranking-list-with-redis