<script src="js/vue/vue.js"></script>
<script src="js/vue/vue-friendly-iframe.js"></script>
<script src="js/vue/axios.min.js"></script>

<body></body>
<div align="center" id="app">
<template>
  <div>
    <div class="container">
    <label>.csv 파일만 가능 </label>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <input type="file" @change="onFileUpload" accept='.csv'>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block btn-lg">전송</button>
            </div>
        </form>
    </div>    
  </div>
</template>
</div>


<script>
const app = new Vue({
	  el:'#app',
	  data() {
	      return {
	         FILE: null,
	         name: ''
	      };
	    },
	    methods: {
	        onFileUpload (event) {
	          this.FILE = event.target.files[0]
	        },
	        onSubmit() {
	          // upload file
	          const formData = new FormData()
	          formData.append('avatar', this.FILE, this.FILE.name)
	          formData.append('name', this.name)
	          axios.post('/api/listproducts', formData, {
	          }).then((res) => {
	            console.log(res)
	          })
	        }  
	    }
})

</script>